@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --color-primary: hsl(225, 50%, 48%);
  --color-second: hsl(180, 17%, 95%);
  --color-one: hsl(15, 74%, 70%);
  --color-two: hsl(28, 100%, 82%);
  --hover-color: hsl(225, 56%, 59%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 12%);
  --color-text: hsl(240, 1%, 48%);
  --border-color: hsl(0, 0%, 83%);
  --color-white-deam: hsl(0, 0%, 93%);
  --grey-bg: hsl(0, 0%, 96%);
  --grey-text: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%)
  --box-shadow: box-shadow:rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px ;
  --transition: .4s ease-in-out;
}

body {
  background: var(--color-white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--color-white);
}
.btn a {
  color: var(--color-white);
  font-weight: 500;
}
.btn:hover {
  background: var(--hover-color);
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--color-grey-text);
}

p {
  font-size: 13px;
  color: var(--color-grey-text);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--color-black);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--color-black);
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne, .navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: var(--color-second);
}
.navBar .navBarOne .icon:hover {
  color: var(--color-primary);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--color-black);
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb span:hover {
  color: var(--color-primary);
  font-weight: 700;
}
.navBar .navBarTwo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3rem;
  padding: 1.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo .logoDiv .Logo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .navBarMenu {
    position: absolute;
    background: var(--color-second);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 3px solid var(--color-white);
  }
  .navBar .navBarTwo .navBarMenu .menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem {
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--color-black);
  }
  .navBar .navBarTwo .navBarMenu .menu .listItem:hover {
    color: var(--color-primary);
    font-weight: 700;
  }
  .navBar .navBarTwo .navBarMenu .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }
  .navBar .navBarTwo .btnTwo {
    display: none;
  }
}
.navBar .navBarTwo .toggleIcon .icon {
  font-size: 30px;
  color: var(--color-black);
}
.navBar .navBarTwo .showNavBar {
  right: 50%;
  transition: 0.5s ease-in-out;
}
.navBar .navBarTwo .removeNavBar {
  right: -50%;
  transition: 0.5s ease-in-out;
}
.navBar .navbar_White_Bg {
  background: var(--color-second);
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .mainText {
  color: var(--color-black);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .homeImages .videoDiv {
  width: 100%;
}
.home .homeImages .videoDiv .video {
  border-radius: 10rem;
}
.home .homeImages .plane {
  position: absolute;
  width: 100%;
  top: -30%;
}

.search .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--grey-bg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  background: var(--color-second);
  padding: 0.5rem;
  border-radius: 1rem;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.search .sectionContainer .btns .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
}
.search .sectionContainer .btns .singleBtn:hover {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  transition: 0.3s ease;
}
.search .sectionContainer .btns .active {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
}
.search .sectionContainer .searchInputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .sectionContainer .searchInputs .singleInput .iconDiv {
  padding: 16px 16px;
  border-radius: 3rem;
  background: var(--color-second);
  margin-right: 1rem;
}
.search .sectionContainer .searchInputs .singleInput .iconDiv .icon {
  color: var(--color-black);
  opacity: 0.7;
}
.search .sectionContainer .searchInputs .singleInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--color-black);
  font-weight: 700;
}
.search .sectionContainer .searchInputs .singleInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .sectionContainer .searchInputs .singleInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .searchInputs .singleInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}

.support .sectionContainer .tittleDiv {
  text-align: center;
}
.support .sectionContainer .tittleDiv small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--color-black);
  line-height: 1.5rem;
}
.support .sectionContainer .infoDiv {
  margin-top: 2rem;
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv {
  gap: 1.5rem;
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .number {
  background: var(--color-primary);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--color-white);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .colorOne {
  background: var(--color-one);
}
.support .sectionContainer .infoDiv .textDiv .singleInfo .colorTwo {
  background: var(--color-two);
}
.support .sectionContainer .infoDiv .imgDiv {
  margin: auto;
}
.support .sectionContainer .infoDiv .imgDiv img {
  width: 100%;
  max-width: 420px;
}

.info {
  background: var(--color-second);
}
.info .infoContainer .titleDiv {
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  justify-content: space-between;
}
.info .infoContainer .cardsDiv {
  gap: 1.5rem;
  margin-top: 3rem;
}
.info .infoContainer .cardsDiv .singleCard {
  background: var(--color-white);
  padding: 3rem 2rem;
  border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  height: 320px;
  width: 90%;
  max-width: 250px;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv {
  justify-content: center;
  margin: auto;
  background: var(--color-primary);
  width: -moz-max-content;
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.info .infoContainer .cardsDiv .singleCard .iconDiv .icon {
  color: var(--color-white);
}
.info .infoContainer .cardsDiv .singleCard .cardTitle {
  color: var(--color-black);
  font-weight: 700;
}
.info .infoContainer .cardsDiv .singleCard .colorOne {
  background: var(--color-one);
}
.info .infoContainer .cardsDiv .singleCard .colorTwo {
  background: var(--color-two);
}

.lounge .sectionContainer .imgDiv {
  margin: auto;
}
.lounge .sectionContainer .imgDiv img {
  width: 100%;
  max-width: 430px;
}
.lounge .sectionContainer .textDiv .grids {
  margin-top: 1rem;
  gap: 1.5rem;
}
.lounge .sectionContainer .textDiv .grids .singleGrid .gridTitle {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: black;
}/*# sourceMappingURL=main.css.map */